body{
	background-image:url("https://photos-1.dropbox.com/t/2/AADVQzL41paWd1su4BW2AQO7M8cHqaxrKFE7eBxLrvWVpQ/12/183234153/jpeg/32x32/1/_/1/2/background.jpg/EMOWmIsBGK8XIAIoAg/DJsrTaUMpliln3Wxfnwa9ElDUpD-aduZlz1mqidkCkA?dl=0&size=2048x1536&size_mode=3");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.input-fill{
	background-color: #FFF;
	display: block;
	width: 60%;
 	margin-left: auto ;
 	margin-right: auto ;
	margin-top: 15%;
	border-radius: 15px;


	// Cut-out text effect
  background: #fff;
  color: #000;
  mix-blend-mode: lighten;

	text-align: center;
}

.ui-widget{
	z-index: -1;
	background: white;
	mix-blend-mode: normal;
	border-radius: 15px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.ui-autocomplete-input{
	text-align: center
	width: 50px;
}

.ui-menu{
	width: 20%;
}
